* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-size: 1.5rem;
}

.multi__colored {
  animation: color-change 5s infinite;
}

.black {
  color: black;
}

.carousel-item img {
  height: 250px;
  width: 100%;
}

.customer__speaks {
  text-decoration: underline;
}

.customer__speaks-text {
  color: grey;
}

.horizontal__scrolling {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.service__card {
  height: 70vh;
  border-radius: 20px;
  color: white;
  padding: 60% 10px;
}

.quote {
  color: deepskyblue;
}

.team {
  height: 64vh;
  align-items: center;
  background-color: black;
  padding: 35px;
}

.team__card {
  height: 54vh;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 12% 10px;
}

.team__card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px;
}

.footer {
  height: 40vh;
  background-color: black;
  color: white;
}

.footer__logo {
  padding-bottom: 25px;
}

.footer__icons {
  padding: 25px 0;
}

.footer__icon {
  font-size: 24px;
  margin: 0 8px;
}

.footer__menu {
  padding: 20px 0;
}

@keyframes color-change {
  0% {
    color: #4285f4;
  }
  25% {
    color: #db4437;
  }
  50% {
    color: #f4b400;
  }
  75% {
    color: #0f9d58;
  }
  100% {
    color: #4285f4;
  }
}

@media screen and (min-width: 700px) {
  .carousel-item img {
    width: 500px;
    height: 600px;
  }
  .service__card {
    height: 20vh;
    padding: 30% 10px;
  }
  .team {
    height: 64vh;
    align-items: center;
    background-color: black;
    padding: 45px;
  }

  .team__card {
    height: 50vh;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 5% 10px;
  }
}
